<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uniqly</title>
    <link rel="icon" type="image/png" id="favicon" href="{% static 'icon.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Навігація -->
            <nav class="navbar col-md-2 d-flex flex-column align-items-start py-3">
                <a class="navbar-brand ms-3" href="{% url 'post' %}">Uniqly</a>
                <ul class="navbar-nav flex-column ms-3">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'post' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Explore</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Notifications</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Bookmarks</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">More</a></li>
                </ul>
                <a class="btn tweet-btn ms-3" href="{% url 'new_post' %}">Post</a>

            </nav>
<div class="col-md-2 "></div>
<div class="col-md-8 p-4">
    <h1>Welcome to Uniqly</h1>

    {% if posts %}
        {% for post in posts %}
        <div class="post-card">
            <p><img src="{{ post.user.avatar.url }}" alt="Avatar" class="avatar">
           {{ post.user.username }} <small>{{ post.created_at }}</small></p>
            <h3>{{ post.title }}</h3>
            <h4>{{ post.content }}</h4>
        </div>
        {% endfor %}
    {% else %}
        <p>No posts available.</p>
    {% endif %}
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
